/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* ここからcssを書いていきましょう */
.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  color:white;
  text-align:center;
  padding:180px 0 100px 0;
}
.top-wrapper h1,p{
  opacity:0.7;
}

.container{
  width:1170px;
  margin:0 auto;
}
.container h1{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
}
.signup{
  background-color:#239b76;
  margin-top:15px;
  margin-bottom:15px;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.btn-wrapper{
  margin-top:30px;
}
.btn-wrapper p{
  margin:25px 0;
}
.btn{
  color:white;
  opacity:0.8;
  padding:8px 24px;
}
.btn:hover{
  opacity:1;
}

header{
  height:65px;
  width:124px;
  line-height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top: 0;
  z-index: 10;
}



.logo{
  width:124px;
  margin-top:20px;
}


.header-left{
  float:left;
}
.header-right{
  float:right;
  background-color:rgba(255,255,255,0.3);
}

.header-right a{
  line-height:65px;
  padding:0 25px;
  color:white;
  transition:all 0.5s;
  display:block;
}
.header-right:hover{
    background-color:rgba(255,255,255,0.5);
}
.lesson-wrapper{
  background-color:#f7f7f7;
  height:580px;
  text-align:center;
}
.heading{
  color:#5f5d60;
  padding-top:90px;
  padding-bottom:50px;
}
.heading h2{
  font-weight:normal;
}
.lesson{
  float:left;
  width:25%;
}
.lesson-icon{
  text-align:center;
  position:relative;
  /*width:80%;*/
}
.lesson-icon p{
  position:absolute;
  top:44%;
  width:100%;
  color:white;
}
.text-contents{
  width:80%;
  margin-top:15px;
  font-size:13px;
  display:inline-block;
  color:#b3aeb5;
  font-weight:bold;
}
.message-wrapper{
  padding-bottom:80px;
  text-align:center;
}
.heading h3{
  font-weight:normal;
}
.message{
  background-color:#5dca88;
  opacity:0.8;
  cursor:pointer;
  box-shadow:0 7px #1a7940;
  padding:15px 40px;
}
.message:active{
  position:relative;
  top:7px;
  box-shadow:none;
}
footer{
  border-top:1px solid #eee;
  padding:30px 0;
}
footer img{
  width:124px;
}
footer p{
  font-size:12px;
  color:#b3aeb5;
}

